* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin Sketch', cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url("munte.jpeg");
}




#eu {
    background-image: url(/pictures/munte.jpeg);
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#eu1 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
/* colors 

#8D4B87
#22214E
#C44485
#AB337B
#73CABA
#00B6D2
#8777B4


*/

